.singleFormWrap {
  border: 1px solid black;
  margin-bottom: 10px;
  width: 250px;
  padding: 10px;
  text-align: center;
}
.singleFormWrap.new-form-layout {
  border: 1px dashed;
  background-color: antiquewhite;
}
.singleFormWrap .nameAction {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.form-templates.row {
  display: flex;
  gap: 20px;
}
.control-wrapper {
  border: 1px dashed green;
  margin-bottom: 30px;
  padding: 20px;
}
